<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Personal portfolio" />
    <meta name="author" content="Vidyasagar Pandikashala" />
    <link rel="stylesheet" href="./certificate.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Vidyasagar Pandikashala Portfolio</title>
  </head>
  <body>
    <div>
      <nav class="nav-bar">
        <ul class="lists">
          <div>
            <li class="list | home_tab">
              <a href="../../index.html">HOME</a>
            </li>
           
          </div>
          <div>
            <li class="list | aboutme_tab">
             <a href="/src/component/portfolio_aboutMe.html">ABOUT ME</a>
            </li>
          </div>
          <div>
            <li class="list | projects_tab">
              <a href="../../index.html#project_marker">PROJECTS</a>
            </li>
          </div>
          <div>
            <li class="list | certif_tab"><a href="/src/component/portfolio_certificates.html">CERTIFICATES</a></li>
            <div class="nav_marker"></div>
          </div>
          <div>
            <li class="list | resume_tab"><a>RESUME</a></li>
          </div>
          <div>
            <li class="list | contactme_tab"><a>CONTACT ME</a></li>
          </div>
        </ul>

        <main>
            <div class="certificate_section_wrapper">
                <div class="personal_project_text_container">
                    <p class="highlighter | para_32_bold">|</p>
                    <p class="personal_project | para_24_bold">CERTIFICATES</p>
                  </div>
                <div class="image_container">
                    <img src="../photos/IITR-GL-FSD-M2M-23-75-scaled 1.png" alt="">
                    <img src="../photos/product management 1.png" alt="">
                </div>
            </div>
            <div class="skill_section">
                <div class="personal_project_text_container">
                    <p class="highlighter | para_32_bold">|</p>
                    <p class="personal_project | para_24_bold">SKILLS</p>
                </div>
                <div class="skill_area_wrapper">
                    <div class="skill_area_wrapper_content_wrapper">
                        <div class="fsd_wrapper">
                            <div>
                                <h1 class="para_32_bold_white">FULL - STACK DEVELOPMENT</h1>
                            </div> 
                            <div class="skillset_fsd">
                                <div>
                                 <img src="../photos/springbootskill.png" alt="">
                                </div>  
                                <div>
                                  <img src="../photos/htmlskill.png" alt="">
                                </div>                        
                                <div>
                                    <img src="../photos/javaskill.png" alt="">
                                </div>  
                                <div>
                                  <img src="../photos/cssskill.png" alt="">
                                </div>  
                                <div>
                                   <img src="../photos/springsecurityskill.png" alt="">
                                </div>  
                                <div>
                                 <img src="../photos/jsskill.png" alt="">
                                </div>  
                                <div>
                                 <img src="../photos/springjwtskill.png" alt="">
                                </div>  
                                <div>
                                <img src="../photos/reactskill.png" alt="">
                             </div>  
                            </div>   
                        </div>
                        <div class="pm_wrapper">
                            <div>
                                <h1 class="para_32_bold_white">PRODUCT MANAGEMENT</h1>
                            </div>  
                            <div class="skillset_fsd">
                                <div>
                                 <img src="../photos/scrumskill.png" alt="">
                                </div>  
                                <div>
                                  <img src="../photos/agileskill.png" alt="">
                                </div>                        
                                <div>
                                    <img src="../photos/gusetimatesskil.png" alt="">
                                </div>  
                                <div>
                                  <img src="../photos/PRD.png" alt="">
                                </div>  
                                <div>
                                   <img src="../photos/userpersona.png" alt="">
                                </div>  
                                <div>
                                 <img src="../photos/competitor analysis.png" alt="">
                                </div>  
                                <div>
                                 <img src="../photos/sketchmockup.png" alt="">
                                </div>  
                                <div>
                                <img src="../photos/bcm.png" alt="">
                             </div>  
                            </div>                                                         
                        </div>
                    </div>
                    <div class="addon_wrapper">
                        <div>
                            <h1 class="para_32_bold_white">ADD-ON SKILLS</h1>
                        </div>
                        <div class="skillset_addon">
                            <div>
                                <img src="../photos/redis.png" alt="">
                            </div>  
                            <div>
                                <img src="../photos/aws.png" alt="">
                            </div>                        
                            <div>
                                <img src="../photos/docker.png" alt="">
                            </div>  
                            <div>
                                <img src="../photos/websocket.png" alt="">
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
          
        </main>
        <footer class="footer"></footer>
      </nav>

  </body>
</html>
